# project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store

# folders
*_cache/
*_files/
analysis/
data/
documentation/

report/.quarto/
report/data/
report/docs/
report/images/
report/report_cache/
report/report_files/
report/docs/
report/_site/

results/

# file types
~*
*.csv
*.docx
*.pdf
*.rdata
*.rdb
*.rds
*.rdx
# do not globally gitignore xlsx
